<div id="input_column">
  <div id="control-box">
    <div>Language:</div>
    <select id="language_select"></select>
    <div>Example:</div>
    <select id="example_select"></select>
    <button id="run_button">Run</button>
  </div>
  <textarea id="source_code"></textarea>
</div>
<div class="vline"></div>
<div id="output_column">
  <h2>Results</h2>
  <div class="output_label" id="text-checked">Typechecked:</div>
  <button class="collapse_button" id="check_collapse">+</button>
  <div id="check_out" class="output"></div>
  <div class="output_label" id="text-error">Errors:</div>
  <button class="collapse_button" id="error_collapse">+</button>
  <div id="error_out" class="output"></div>
</div>
</div>
