#content{
  display:grid;
  justify-content:center;
  align-content:center;
  grid-template-rows: 1fr auto;
  grid-template-columns:auto;
}

#control_box{
  grid-row:1;
  padding:1em;
  display:grid;
  grid-template-columns:auto auto;
  justify-content:center;
  align-content:center;
  gap:1em;
}

#grammar_box{
  grid-row:2;
  border-radius:1em;
  display:grid;
  grid-template-columns:1fr auto;
  grid-template-rows:1fr auto;
  justify-content:center;
}

#grammar_out_box{
  grid-column:1 / span 2;
  justify-self:stretch;
  align-self:stretch;
}

#grammar_out{
  padding:0.5em;
  font-size:12pt;  
  background:var(--bg-color2);
}

.headline {
  grid-row:1;
  grid-column:1; 
}
